@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


html,
body {
    font-family: lato, sans-serif;
    padding: 0px;
    background: linear-gradient(to right, #1b3625, #1a4626);
}

.invisible {
    display: none !important;
}

a {
    text-decoration: none;
}


/*background*/

.gradient-background {
    background: linear-gradient(to right, #1b3625, #1a4626);
}

.gradient-background-light {
    background: linear-gradient(to right, #1c4f2e, #227e3a);
}

/*btns*/

.btn {
    display: block;
    margin: auto;
    margin-top: 3rem;
    padding: 1rem;
    width: 400px;
    text-align: center;
    font-size: 20px;
    color: whitesmoke;
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 10rem;
}

.btn:hover {
    color: whitesmoke;
    scale: 1.1;
    transition: 1s;
}

.btnSeguir,
.btnVoltar,
.btnVerMetas {
    width: 17%;
}

.btnLogout{
    width: 6%;
    height: 5%;
}

/*tela inicial para login ou cadastro*/

#divEntrar {
    height: 100px;
}

#divBtns {
    transform: translate(15%, 55%);
}

/*input data*/

input[type="date"] {
    margin: 10px;
    padding: 10px;
    background: linear-gradient(to right, #1c4f2e, #227e3a);
    color: #ffffff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
}

::-webkit-calendar-picker-indicator {
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

/*tela para escrever metas*/


.caixaMetas {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    outline: none;
    resize: none;
}

.caixaMetas::placeholder {
    color: white;
}

.caixaMetas:focus {
    color: white;
    outline: none;
    box-shadow: none;
}

.caixa-meta-stack:first-child {
    margin-left: 0;
}

.caixa-meta-stack {
    margin-left: -250px;
    z-index: 1;
    position: relative;
    transition: transform 0.3s ease;
}

.caixa-meta-stack:hover {
    transform: translateY(-5px);
    z-index: 10;
}

textarea {
    resize: none;
}

img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/*movimento das caixas*/

.mover-esquerda {
    animation: moverEsquerda 0.5s forwards;
    opacity: 0.7;
}

@keyframes moverEsquerda {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-20px);
        scale: 0.95;
    }
}

/*barra de progresso*/

.progress {
    height: 35px;
    max-width: 800px;
    width: 100%;
    border: none;
}

.fraseDash {
    margin-bottom: 200px;
}

/*tela de metas lista*/

#btnListaComplete,
#btnListaDelete {
    width: 150px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 16px;
}

.metaConcluida{
    opacity: 0.3; 
}

.btnVerDashboard {
    width: 7%;
    height: 35px;
    font-size: 15px;
    margin-bottom: 20px;
    margin-left: 135px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 16px;
}

.custom-border {
    border-bottom-color: #467953 !important;
}

/*paginate*/

.page-item.active .page-link {
    background-color: #1c4f2e;
    border-color: #467953;
    color: #467953;
}

.page-item.disabled .page-link {
    color: #467953;
    border-color: #467953;
    background-color: #1c4f2e;
}


.page-link {
    color: #467953;
    border-color: #467953;
    background-color: #1c4f2e;
}


.page-link {
    color: #ffffff;
    border-color: #467953;
    background-color: #1c4f2e;
}

.page-link:hover {
    color: #1c4f2e;
    border-color: #467953;
    background-color: #ffffff;
}